.autocomplete-history {
}

.autocomplete-history dt:hover {
    font-weight: bold;
    background-color: #d4d4d4;
    border-color: #d4d4d4;
}
.autocomplete-history dt {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.autocomplete-history dd {
    display: none;
}


.autocomplete-container {
    border: 1px solid black;
    padding: 5px;
}

#GUIContainer h2 {
    font-size: 1em;
    color: #757576;
    font-weight: bold;

}

#GUIContainer {
    font-size: 0.9em;
    overflow: hidden;
}

.gui-subblock {
    margin-top: 1em;
    max-height: 165px; /* 350/2 - 2*5 of padding */
}

.gui-halfblock .gui-block-content {
    overflow: auto;
    max-height: 145px;
}

.gui-folding-block-title {
    margin-top: 5px;
    background-color: #d4d4d4;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

/* This is the tag we are using to pass JavaScript along with the HTML
 * Do not display it, it's there for JS, not for you, human being!
 */
scripttoload {
    display: none;
}
